<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>明石高専食堂</title>
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
