.header{
  height:50px;
  font-size:30px;
  display:flex;
  align-items: center;
  justify-content:center;
}
.header-text{
}
.edit{
  position:absolute;
  top:-1px;
  right:5px;
}
.center-label{
  height:30px;
  font-size:20px;
  display:flex;
  align-items: center;
}
.center-label:before,
.center-label:after {
  border-top: 2px solid;
  content: "";
  flex-grow: 1;
}
.center-label:before {
  margin-right: 1rem;
}
.center-label:after {
  margin-left: 1rem;
}
.label-and-switch{
  display:flex;
  justify-content:space-between;
}
.label{
  justify-content:flex-start;
  border-bottom:solid;
}
.switch{
  justify-content:flex-end;
}
.special-menus{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}
.menu{
  text-align:center;
}
.permanent-menus{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}
.sold{

}
.non-sold{

}
.show{

}
.button{
  display: none;
}
.sold-checking-button:checked + .show{
  display: none;
}

.sold-checking-button:checked + .button {
  display: inline;
}