.header{
  height:50px;
  font-size:30px;
  display:flex;
  align-items: center;
  justify-content:center;
}
.header-text{
}
.edit{
  position:absolute;
  top:5px;
  right:5px;
}
.center-label{
  height:30px;
  font-size:20px;
  display:flex;
  align-items: center;
}
.center-label:before,
.center-label:after {
  border-top: 2px solid;
  content: "";
  flex-grow: 1;
}
.center-label:before {
  margin-right: 1rem;
}
.center-label:after {
  margin-left: 1rem;
}
.label-and-switch{
  display:flex;
  justify-content:space-between;
}
.label{
  justify-content:flex-start;
  border-bottom:solid;
}
.switch{
  justify-content:flex-end;
}
.special-menus{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}
.menu{
  text-align:center;
}
.permanent-menus{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  font-size:13px;
}
.special-menus .menu{
  width:120px;
}
.permanent-menus .menu{
  width:100px;
}
.sold{
  color:#FFF;
  background:#1ad8f1;
  border-radius: 4px
}
.non-sold{
  color:#FFF;
  background:#ff9900;
  border-radius: 4px
}
.non-sold span{
  display:none;
}
.non-sold:after{
  content:"販売中";
}
.show{
}
.button{
  display:none;
  color:#FFF;
  background:#ff9900;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  border-radius: 4px
}
.button:active {
}
.sold-checking-button:checked ~ * .show {
  display: none;
}
.sold-checking-button:checked ~ * .button {
  display: inline-block;
}
.weekly-menus .show{
  display:none;
}
.sold-checking-button{
  display:none;
}
