{% extends 'app.twig' %}

{% block content %}
<div>
  <div class="header">明石高専食堂システム</div>
  <div class="center-label">週刊の献立</div>
  <div class="weekly-menus">
    {% for day,menu in menus %}
      <div class="label">{{ day }}</div>
      <div class="special-menus">
        {% include 'menu.twig' with { menu: menu.a_set } %}
        {% include 'menu.twig' with { menu: menu.b_set } %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
